# STA272: Statistical Models for Data Science

## Class 1

## What's this course about?

- Understanding how to use statistical models that are common in data science
- This involves asking questions about data
- Data can be numerical and non-numerical

## Today's Learning Objectives

### Takeaways
- Recognize that not all data is numerical and is stored in different digital formats
- Be able to use and understand core Python basics (variables, data types, lists/dictionaries, loops, functions) to be comfortable writing small data-processing scripts.
- Use Python to analyse and manipulate data
- Use pandas and related libraries to program and analyze data
- Explain data science workflows
- Use a Jupyter notebook to analyse data that originate in various formats and write text using markdown

## What's a statistical model in data science?

- A simplified description of how data are generated, used to explain, predict, and quantify uncertainty
- The model usually has three parts:
     - outcome
     - inputs
     - randomness

- Prediction: estimate gross for a new movie
- Association/impact: estimate how much gross changes with budget (holding other things fixed)
- Uncertainty: confidence intervals, p-values, prediction intervals

## Data science workflow

![](images/whole-game.png)

# Python Review

### `int` and `float`

Python defines two **data types** to categorize numbers: `int` and `float`.

An `int` represents an integer like `3` or `-4`.

A `float`, short for *floating point number*, represents a fractional number like `3.5` or `-4.5`.

### Arithmetic in Python

We can combine numbers using basic arithmetic operations like `+`, `-`, `*`, and `/`:

In [ ]:
10 + 20

In [ ]:
10 - 20

In [ ]:
10 * 20

In [ ]:
10 / 20

In [ ]:
((10 + 20) * (5 - 2)) / 3.5

## Rounding and the `round` function

Python provides **functions**, which are named blocks of code that perform a specific computation.

The `round` function lets us round `float`s to a specific number of decimal places.

In [ ]:
round(3.6789, 2)

### Function terminology

The expression `round(3.6789, 2)` is called a **function call**.

- `round` is the **name** of the function
- `3.6789` and `2` are the **inputs**/**arguments** of the function
- The value `3.68` is the **output**/**return value** of the function

Here are two other examples of Python functions:

In [ ]:
abs(-4.3)

In [ ]:
type(-4.3)

## Comparisons and the `bool` data type

We can compare numbers using the following comparison operators:

| Operation   | Description                                                    |
|-------------|----------------------------------------------------------------|
| `a == b` | Are `a` and `b` equal?                           |
| `a != b` | Are `a` and `b` *not* equal?  |
| `a > b`  | Is `a` greater than `b`?                         |
| `a < b`  | Is `a` less than `b`?                            |
| `a >= b` | Is `a` greater than or equal to `b`?             |
| `a <= b` | Is `a` less than or equal to `b`?                |

In [ ]:
3 == 3

In [ ]:
10 * 2 <= 3 * 6

Python displays `True` and `False` as a result of a comparison.

`True` and `False` are the two values of the `bool` data type, short for **boolean**.

Boolean values represent answers to Yes/No questions like:

- Is this person a Canadian citizen?
- Is this movie less than 2 hours long?
- Is every student in this lecture paying attention right now?

### Manipulating booleans

We can perform three operations on booleans: `not`, `and`, `or`.

`not b` negates the value of `b`, so `True` becomes `False` and vice versa.

In [ ]:
not True

`a and b` produces whether *both* `a` and `b` are `True`:

In [ ]:
True and False

`a or b` evaluates to whether *at least one of* `a` and `b` are `True`:

In [ ]:
True or False

In [ ]:
(5 < 10) and (3 * 5 < 2 * 7)

## Text data and the `str` data type

`str`, short for **string**, is a type of data for representing text.
A string is a sequence of *characters*, where each character could be:

- English letters (a, b, c)
- numeric digits (0, 1, 2, etc.)
- letters and glyphs from languages other than English (e.g., ÙŠ, Î¾, ä½ )
- punctuation marks and symbols (such as the period (.) and at symbol @)
- spaces
- [emojis](https://emojipedia.org/) (e.g., ðŸ˜‰, ðŸ§, ðŸ«)

In Python, we write strings by writing text surrounded by either single-quotes or double-quotes.

In [ ]:
'Hello, world!'

In [ ]:
"Nathan is cool"

We can check whether two strings are equal:

In [ ]:
"Nathan" == "Nathan"

This comparison is *case-sensitive*:

In [ ]:
"Nathan" == "NATHAN"

We can use a new operator, `in`, to check whether one string is contained inside another:

In [ ]:
"cat" in "education"

We can concatenate strings together using the `+` operator:

In [ ]:
"Hello" + "World!"

In [ ]:
"Hello " + "World!"

We can access a specific character in the string by its *position* (or "*index*") using square bracket notation.

**Note**: in Python, positions/indexes start at **0**, not 1!

In [ ]:
"Hello World!"[0]

Finally, we can use the `len` function to compute the number of characters of a string:

In [ ]:
len("Hello World!")

### Exercise 2

Write a Python expression to compute whether the name `"Meredith Franklin"` is longer than `"Nathan Taback"`.

(The word "whether" signals that the output should be a *boolean*, i.e., either `True` or `False`.)

In [ ]:
# Write your code in the space below

**Solution** (only look at this after attempting the exercise!)

In [ ]:
len("Michael Widener") > len("Nathan Taback")

## Variables

As our code gets more complex, we'll use **variables** to keep track of our values.

A **variable** is a piece of code that *refers* to a value.

We create variables using code called an **assignment statement**, which looks like:

```python
<variable> = <expression>
```

In [ ]:
name = "Nathan"

When we evaluated the previous code cell, nothing was displayed!
But the code did execute: what it did was tell Python to create a variable called `name` and make it refer to the value `"Nathan"`.

We can then access the value of this variable:

In [ ]:
name

In [ ]:
name + " is cool"

In [ ]:
len(name)

Jupyter notebooks let us write multiple statements in a single code cell.
This lets us write one block of code where we define variables and use them in the same cell.

In [ ]:
amount = 15.99
tax_rate = 0.13
tip_rate = 0.15

total_amount = amount * (1 + tax_rate + tip_rate)

round(total_amount)

### Naming variables

Even though Python lets us name variables whatever we want, it is important to pick meaningful variable names!

If you don't, you might end up reading code that looks like this:

In [ ]:
lol = 15.99
lmao = 0.13
x = 0.15

wtf = lol * (1 + lmao + x)

round(wtf)

Python follows two conventions for writing variable names:

- make all letters lowercase (so `amount`, not `Amount` or `AMOUNT`)
- separate words with underscores so (`tax_rate`, not `tax rate` or `taxrate`)

Python follows two conventions for writing variable names:

- make all letters lowercase (so `amount`, not `Amount` or `AMOUNT`)
- separate words with underscores so (`tax_rate`, not `tax rate` or `taxrate`)

## The `print` function

Normally when we execute a notebook cell with multiple expressions/statements, only the value of the last one is displayed.

In [ ]:
3 + 4
5 + 6
7 + 8

We can use the built-in Python function `print` to display multiple values in the cell output.

In [ ]:
print(3 + 4)
print(5 + 6)
print(7 + 8)

## f-strings

Suppose have have a student's name and a course' code, and want to compute a welcome message like `"Hello Nathan, you are currently in STA272!"`

In [ ]:
name = "Nathan"
course = "STA272"

welcome_message = "Hello " + name + ", you are currently in " + course + "!"
welcome_message

This is a bit ugly, so Python gives us a way of writing a string with single-/double-quotes, but marking certain parts as Python expressions that should be evaluated to build the string.

These are called **f-strings** (short for "formatted string literal").

In [ ]:
welcome_message2 = f"Hello {name}, you are currently in {course}!"
welcome_message2

## String Methods

Strings are the most complex form of data we've studied so far, and there are a lot more operations we can perform on them beyond `==`, `in`, and `len`.

Most of these operations are implemented as string **methods**.

A **method** is a function that is defined as part of a data type.

We refer to methods using "dot notation": `<type>.<method name>`.

For example, `str.upper` is a string method that converts a string to ALL CAPS.

We can *call* the method by putting a string value to the left of the dot in Python code:

In [ ]:
name = "Nathan"

name.upper()

Here are some common string methods you may find useful:

| String method         | Description                           |
|-----------------------|---------------------------------------|
| `str.upper()`         | Convert the string to uppercase.        |
| `str.lower()`         | Convert the string to lowercase.        |
| `str.count(other)`    | Return the number of times `other` appears in the string. |
| `str.replace(old, new)` | Replace all occurrences of `old` with `new` in the string. |
| `str.split()`         | Return a list of the words in the string, separating by spaces. |

In [ ]:
my_string = "Nathan is cool"

my_string.replace("Nathan", "Meredith")

## `str.split` and the Python `list` data type

In [ ]:
my_string = "Nathan is cool"

my_string.split()

What exactly is `['Nathan', 'is', 'cool']`?

It *contains* strings, but is not one big string itself.

Let's use the `type()` function to see what kind of value it is according to Python:

In [ ]:
mystery_value = my_string.split()

type(mystery_value)

Okay! `['Nathan', 'is', 'cool']` is a `list`.

In Python, `list` are used to store **multiple values** in a **sequence** (i.e., with a defined order).

### List examples

Python `list`s are very versatile, and can be used to store different kinds of values. We write lists by using square brackets: `[...]`.

In [ ]:
# A list of strings:
["Nathan", "is", "cool"]

In [ ]:
# A list of ints
[3, 5, 10000]

In [ ]:
# An *empty* list
[]

### List operations

Lists support many of the same operations as strings, since both are "sequences".

Lists can be compared using `==`. Note: order matters!

In [ ]:
[1, 2, 3] == [1, 2, 3]

In [ ]:
[1, 2, 3] == [3, 2, 1]

We can compute the length of a list using the `len` function:

In [ ]:
len(["Nathan", "is", "cool"])

We can calculate the sum of a list of numbers using the `sum` function:

In [ ]:
sum([10, 20, 30])

## Exercise 3: Putting it all together

Given the list of numbers defined in the variable `my_numbers`, do the following:

1. Calculate the *length* of the list (i.e., number of numbers in the list). Call this number `my_len`.
2. Calculate the *sum* of the numbers in the list. Call this number `my_sum`.
3. Calculate the *average* of the numbers in the list. Call this number `my_avg`.
4. Print out a message of the form `"The average of my_numbers is {my_avg}"`, where `{my_avg}` is replaced by the average of the numbers.

In [ ]:
my_numbers = [1, -4.5, 333, 274, -1000, 0]

# Write your code in the space below

**Solution** (only look at this cell after attempting the above exercise!)

In [ ]:
my_numbers = [1, -4.5, 333, 274, -1000, 0]

# Write your code in the space below
my_len = len(my_numbers)
my_sum = sum(my_numbers)
my_avg = my_len / my_sum

print(f"The average of my_numbers is {my_avg}")

## Bridge to `pandas`

### From lists to data frames

Python lists are very good at storing *one-dimensional data* (one "column" of data).

But in practice, we don't just want to store or compute on one columnâ€”we want to compute on an entire table, containing multiple columns!

While it is possible to do this in Python lists, it's more cumbersome to do so.

So in practice, we use a new data type called `DataFrame`, which is used to store (two-dimensional) tabular data.

### Importing `pandas`

The `DataFrame` type doesn't come with base Python, but instead as part of the `pandas` library for doing data science in Python.

To use a library in Python, we need to **import** it into our code.

In [ ]:
import pandas as pd

This line of code loads the `pandas` library, calling it `pd`.

Now we can use the `pd.read_csv` function to read in this data!

In [ ]:
movie_df = pd.read_csv("movies.csv", header=None)
movie_df.head()

## Creating your own data frame

Creating a data frame manually consists of two steps.

### Step 1: Create a dictionary of your data

A **dictionary** is another type of Python collection that lets you created associated pairs of data.
For us, a dictionary can map *column names* (strings) to *column values* (lists) in a table.

For example:

In [ ]:
my_data = {
    "Name": ["David", "Nathan", "Meredith"],
    "Age": [18, 22, 19]
}

my_data

### Step 2: Turn the dictionary into a data frame

Now, we can turn that dictionary into a pandas `DataFrame`:

In [ ]:
my_data_frame = pd.DataFrame(my_data)

my_data_frame

Of course, if we wanted to we could combine the two steps into one larger statement. That's more convenient, but a bit less explicit about what's going on. Make sure you understand the previous two steps separately, and then study how they're combined below!

In [ ]:
my_data_frame2 = pd.DataFrame({
    "Name": ["David", "Nathan", "Meredith"],
    "Age": [18, 22, 19]
})

my_data_frame2

## `pandas`

- `pandas` is a python package that makes it easy to work with tabular data.

- What is tabular data?

## Data Example 1

Is this data tabular?

![](images/excel_screenshot.png)

## Data Example 2

Is this data tabular?

![](images/platodata.png)

Text is taken from the [Stanford Encyclopedia of Philosophy.](https://plato.stanford.edu/entries/plato-ethics-shorter/)

## Data Example 3

Is this data tabular?

![](images/policesearchdata.png)

## Raw Data

The data from Example 3 is from 

<https://open.toronto.ca/dataset/police-race-and-identity-based-data-collection-arrests-strip-searches/>

Is this **raw data**?

What is this data's provenance?

## Comma Separated Value (csv) Files

- A csv file is a text file that uses a comma (this is an example of a *delimiter*) to separate values.

```
id, person, department
0, NT, STA
1, DL, DCS 
2, MW, GGR
```

- csv files often have a ".csv" extension as part of the file name.  For example, `faculty.csv`.

- Spreadsheet programs such as Excel are often used to create, read, and store csv files.  But, any program (e.g., Jupyter notebooks) that can manage text files can do the same.

## pandas

- pandas is a Python package and is the "fundamental high-level building block for doing practical, real-world data analysis in Python" ([see pandas Getting started](https://pandas.pydata.org/docs/getting_started/overview.html#package-overview)).

- We will study and use the primary data structures of pandas, `Series` (1-dimensional) and `DataFrame` (2-dimensional).

## Create a pandas `Series`

### import pandas

First `import` the `pandas` package.

In [ ]:
import pandas

This will allow us to access functions and methods in the pandas package in our Jupyter notebook.  But, we can use the Python keyword `as` to abbreviate `pandas`.

In [ ]:
import pandas as pd

## Create a pandas Series from a List

In [ ]:
people = ['NT', 'DL', 'MW']

faculty_series = pd.Series(people)

faculty_series

In [ ]:
dept = ['STA', 'DCS', 'GGR']

department_series = pd.Series(dept)

department_series

## Creating a Boolean Series based on a Condition

Create a Series where the element is `True` if `department_series` is equal to `STA` and `False` otherwise.

In [ ]:
department_series = pd.Series(dept)

department_series

In [ ]:
department_series == 'STA'

Create a Series where the element is `True` if `department_series` is equal to `GGR` and `False` otherwise.

In [ ]:
print(department_series)

department_series == 'GGR'

Create a Series where the element is `True` if `department_series` is equal to `STA` **or** `GGR` and `False` otherwise.

In [ ]:
print(department_series)

(department_series == 'STA') | (department_series == 'GGR' )

Create a Series where the element is `True` if `department_series` is equal to `STA` **and** `GGR` and `False` otherwise.

In [ ]:
print(department_series)

(department_series == 'STA') & (department_series == 'GGR' )

Create a Series where the element is `True` if `department_series` equal to `STA` is not equal to `department_series` equal to `GGR`, and `False` otherwise (this is tricky &#128552;)

In [ ]:
print(department_series)

(department_series == 'STA') != (department_series == 'GGR' )

## Boolean logic with pandas `Series`

When comparing Boolean Series in pandas we use different logical operators

`Series1 = pd.Series([True, False, True])`

`Series2 = pd.Series([False, False, True])`


Operation | Description                              | Result of operation in a list
----------|------------------------------------------|------------
`Series1 & Series2` | `Series1` and `Series 2`       | `[False, False, True]`
`Series1 \| Series2` | `Series1` or `Series 2`       | `[True, False, True]`
`Series1 != Series2` | `Series1` not equal to `Series 2` | `[True, False, False]`

## Create a pandas `DataFrame` using a dictionary

- A dictionary store data in key-value pairs.

- A popular way to create a dictionary is to use curly braces {} and colons `:` to separate keys and values (`key:values`)

```
candy_dict = {'candy': ['fuzzy peach', 'gummy bear', 'chocolate']}

```

- the *key* of `candy_dict` is `candy` 
- the  *values* of `candy` are: `'fuzzy peach', 'gummy bear', 'chocolate'`

In [ ]:
candy_dict = {'candy': ['fuzzy peach', 'gummy bear', 'chocolate']}
type(candy_dict)

We can create a `dict` of faculty.

In [ ]:
data = {'academic department' : ['STA', 'DCS', 'ENV'], 
        'faculty': ['NT', 'DL', 'MF'],
        'favourite candy': ['fuzzy peach', 'gummy bear', 'chocolate'],
        'name length': [len('Nathan Taback'), len('David Liu'), len('Meredith Franklin')]}

data

Let's store `data` in a pandas `DataFrame`.

In [ ]:
pd.DataFrame(data)

Now, let's store the pandas `DataFrame` above in a variable called `fac_df`.

In [ ]:
fac_df = pd.DataFrame(data)

fac_df

## Select rows of a DataFrame using a list of  `True`, `False` values (a.ka. Boolean values)

Let's remove the second row.

In [ ]:
print(fac_df)

fac_df[[True, False, True]]

- What happened?

- How can I remove the first row?

In [ ]:
from IPython.display import HTML, display

url = "https://forms.office.com/r/nzmrgJQDVD?origin=lprLink"
display(HTML(f"""
<a href="{url}" target="_blank" rel="noopener noreferrer"
   style="display:inline-block;padding:10px 14px;border:1px solid #ccc;border-radius:8px;text-decoration:none;">
  Open Microsoft Form
</a>
"""))

![](QRCodeforSTA272Class1Quiz.png)

## Select columns of a DataFrame using a list of Column Names

- The column names in the DataFrame `fac_df` can be obtained using `list()`.

- There are other ways to get the column names, but we will focus on this for now.

In [ ]:
list(fac_df)

- To select the column `favourite candy` we can add it in quotation marks inside the square brackets `[]` at the end of the DataFrame name.

- For example: $\underbrace{\texttt{fac\_df}}_\text{DataFrame Name}\underbrace{\texttt{['favourite candy']}}_\text{Column Name}$

In [ ]:
fac_df['favourite candy']

In [ ]:
my_list_of_column_names = ['favourite candy', 'name length']

fac_df[my_list_of_column_names]

In [ ]:
fac_df_column_names = list(fac_df)

print(f"The list of column names is: {fac_df_column_names}")

In [ ]:
fac_df_column_names[0]

In [ ]:
fac_df[fac_df_column_names[0]]

Which column number will be selected using: 

- `fac_df[fac_df_column_names[0]]`

- `fac_df[fac_df_column_names[3]]`

## Select rows of a DataFrame

- Rows can be selected from a DataFrame using a list of Boolean values.

- $\underbrace{\texttt{fac\_df}}_\text{DataFrame Name}\underbrace{\texttt{[[True, False, True]]}}_\text{List of Boolean values}$ 

   + selects the first and third rows of the DataFrame since the first and third values are `True`.  The second row is not selected since the second element of the list is `False`.

In [ ]:
my_important_condition = [True, False, True]

my_important_condition

In [ ]:
fac_cond = fac_df[my_important_condition] # select rows

my_important_columns = ['academic department', 'faculty']

fac_cond[my_important_columns] # select columns

## Select rows and columns of a DataFrame

combine these two lines of code:

```
fac_cond = fac_df[my_important_condition] # select rows

fac_cond[mycolumns] # select columns
```

to select rows and columns.

In [ ]:
fac_df[my_important_condition][my_important_columns]

## Exercise

Create a pandas `DataFrame` with three columns: 

1. The first name of one person sitting close to you -- your (new??) friend.

2. The distance from home to the U of T St. George campus for your (new?) friend.

3. The month and day of you and your friend's birthday.